<header class="main-header">
  <div class="container header-content">
    <div class="logo">
      <h1></h1>
<!-- {{ portfolioSignal().profile.name }} -->
    </div>
    <nav>
      <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#contacto" class="btn">Contacto</a></li>
        
        <li>
          <button class="theme-btn" (click)="themeService.toggleTheme()" 
                  [title]="themeService.isDark() ? 'Cambiar a modo claro' : 'Cambiar a modo oscuro'">
            @if (themeService.isDark()) {
              ☀️ } @else {
              🌙 }
          </button>
        </li>
        </ul>
    </nav>
  </div>
</header>

<main>
  <app-hero-section
    id="inicio"
    [profile]="portfolioSignal().profile"
    [bio]="portfolioSignal().bio"
  >
  </app-hero-section>

  <app-skills [skills]="portfolioSignal().skills"></app-skills>

  <app-education [education]="portfolioSignal().education"></app-education>

  <app-projects [projects]="portfolioSignal().projects"></app-projects>


  <app-extras [extras]="portfolioSignal().extras"></app-extras>

  <app-contact 
    [email]="portfolioSignal().contactEmail" 
    [phone]="portfolioSignal().contactPhone"
    [linkedin]="portfolioSignal().linkedinUrl"
    [github]="portfolioSignal().githubUrl"
    [cvUrl]="portfolioSignal().cvUrl">
  </app-contact>

  <router-outlet></router-outlet>
</main>

<footer class="main-footer">
  <div class="container">
    <p>
      &copy; 2025 {{ portfolioSignal().profile.name }}. Todos los derechos
      reservados.
    </p>
  </div>
</footer>
